# IGNORE ECLIPSE METADATA #
###########################
.metadata/*
.metadata
pa1/.settings
pa1/.classpath
pa1/.project
pa3/.project
pa3/.settings
pa3/.classpath
pa3/pa3.iml
pa3/.idea/
.project
/bin/
.idea/*
