
.playerNum {
    -fx-border-color: black;
    -fx-border-width: thick;
    -fx-color: #282828;
    -fx-background-color: #a89984;

}

.tradeButton {
    -fx-border-color: black;
    -fx-border-width: 2px;
}
